<%- include common/head %>
<% if (success) { %>
  <div><%= success %></div>
<% } %>
<% if (error) { %>
  <div><%= error %> </div>
<% } %>
<div class="uk-grid">
	<div class="uk-width-3-4">
	<div>
		<ul class="uk-breadcrumb">
            <li><a href="/">主页</a></li>
            <li><span>列表</span></li>
        </ul>
	</div>
	<% posts.forEach(function (post, index) { %>
		<article class="uk-article index-article">
			<h1 class="uk-article-title"><a href="<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h1>
			<p class="uk-article-meta">
			作者：<a href="#"><%= post.name %></a> | 
    		日期：<%= post.time.minute %>
             标签：
                  <% post.tags.forEach(function (tag, index) { %>
                    <% if (tag) { %>
                      <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
                    <% } %>
                  <% }) %>
            </p>

			<div><%- post.post %></div>
			<p>
                <a class="uk-button uk-button-primary" href="<%= post.name %>/<%= post.time.day %>/<%= post.title %>">继续阅读</a>
                <a class="uk-button" href="layouts_post.html">4条评论</a>
            </p>
		</article>
	<% }) %>

    <%- include common/paging %>
	</div>
	<div class="uk-width-1-4">
		<div class="uk-panel uk-panel-box uk-text-center">
         <img class="uk-border-circle" width="120" height="120"  src="images/qq.png" alt="">
            <h3>游客</h3>
            <p>欢迎游客</p>
        </div>

        <div class="uk-panel">
            <h3 class="uk-panel-title">归档</h3>
            <ul class="uk-list uk-list-line">
                <li><a href="#">2012-3</a></li>
                <li><a href="#">2012-3</a></li>
                <li><a href="#">2012-3</a></li>
                <li><a href="#">2012-3</a></li>
                <li><a href="#">2012-3</a></li>
            </ul>
        </div>
        <div class="uk-panel">
            <h3 class="uk-panel-title">联系我</h3>
            <ul class="uk-list">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
	</div>
</div>
    
<%- include common/foot %>

